<div class="middle">
        <!-- <img src="..\app\assets\images\ahorcado_0.svg" > -->

        <!-- <input id="inputResolver" [class]="classInputResolver" type=text maxlength="1" [(ngModel)]="letra"> -->
        <!--<div class="marginText"><span>¿Crees que lo sabes?: </span> <button class="button" (click)="resolver()">Resolver</button></div>     -->
        <!-- <img id="imgAhorcado" [src]="ahorcadoSrc" class="ahorcadoClass" alt="Marcador del Ahorcado"> -->
        <!-- <img id="imgAhorcado" [src]="ahorcadoSrc" class="ahorcadoClass" alt="Marcador del Ahorcado"> -->
        <img id="imgAhorcado" [src]="getImage()" class="ahorcadoClass" alt="Marcador del Ahorcado">
</div>

